body{
    display: inline-grid;
    margin: 0;
    text-align: center;
}

p{
    margin: auto;
    width: 50%;
}

li {
    display: inline;
}

a {
    font-size: 25px;
    color: white;
    text-decoration-line: none;
    margin: 3%;
}

a:hover {
    background-color: grey;
}

hr{
    width: 40%;
}
a:hover{
    color: white;
}
.top-container{
    position: relative;
    background-image: url(l.jpg) ;
    background-repeat: no-repeat;
    margin: 0px;
    background-size: cover;

}
.featured{
    font-family: 'Overlock', cursive;
    font-size: 40px;
    padding-top: 50px ;
    padding-bottom: 50px;
}
.middle-container{
    position : relative;
    margin: 0px;
    padding: 100px auto;
    background-color: #FFD3B4;

}
.images{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    row-gap: 20px ;
    column-gap:20px;}

.frm{
    margin: auto;
}


.instagram{
    margin: 10px 20px;
    

}
.facebook{
    margin: 10px 20px;
 
    
}
.twitter{
    margin: 10px 20px;
   
    /* color: rgb(10, 201, 248); */
}
.copyright{
    margin: 20px auto;
}
.footer{
    background-color:#98DDCA;
    padding-bottom: 20px;
    padding-top: 20px;
}
.bottom-container{
    background-color: #D5ECC2;
    position: relative;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;

    grid-column-gap:20px ;

}
.newsletter{
    margin: 0px auto;
}

.btn{
    margin: 10px auto;
}
.navbar {
    
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    background-color: rgb(129,31,31);
    grid-area: span;
}

.logo {

    font-size: 50px;
    font-weight: bold;
    margin: 20px;
    margin-top: 2%;
    margin-bottom: 0%;
    color: white;
}

.middle {
    display: inline-block;
    
}

.right {
    display: inline-block;
    font-size: larger;
}
.subtitle{
    font-weight:600;
    display: inline-block;
    text-align: center;
    position: relative;
    top: 10px;
    width: 40%;
    font-family: 'Overlock', cursive;
    padding-bottom: 200px;
    padding-top: 300px;
    font-size: 100px;
    margin: 0px;
    bottom: 100px;
}
.social-media{
    font-size: 30px;
}
