body{
    display: inline-grid;
    margin: 0;
    text-align: center;
}
p{
    margin: auto;
    width: 50%;
}

li {
    display: inline;
}

a {
    font-size: 25px;
    color: black;
    text-decoration-line: none;
    margin: 3%;
}

a:hover {
    background-color: grey;
}

hr{
    width: 40%;
}
a:hover{
    color: white;
}
.top-container{
    position: relative;
    background-color: #FFAAA7;

}
.featured{
    font-size: 40px;
    padding: 50px auto 20px auto;
}
.middle-container{
    position : relative;
    margin: 0px;
    padding: 100px auto;
    background-color: #FFD3B4;

}
.images{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    row-gap: 20px ;
    column-gap:20px;}

.frm{
    margin: auto;
}


.instagram{
    margin: 10px 20px;
    

}
.facebook{
    margin: 10px 20px;
 
    
}
.twitter{
    margin: 10px 20px;
   
    /* color: rgb(10, 201, 248); */
}
.copyright{
    margin: 20px auto;
}
.footer{
    background-color:#98DDCA;
    padding-bottom: 20px;
    padding-top: 40px;
}
.bottom-container{
    background-color: #D5ECC2;
    position: relative;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;

    grid-column-gap:20px ;

}
.newsletter{
    margin: 0px auto;
}

.btn{
    margin: 10px auto;
}
.navbar {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    background-color: rgba(137, 43, 226, 0.308);
    grid-area: span;
}

.logo {
    font-size: 50px;
    font-weight: bold;
    margin: 20px;
    margin-top: 2%;
    margin-bottom: 0%;
}

.middle {
    display: inline-block;
}

.right {
    display: inline-block;
}
