body{
    display: inline-grid;
    margin: 0;
    text-align: center;
}
/* --------------navbar------------------------------------------------------------------------------------------------- */
.navbar {
    
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    background-color: rgb(129,31,31);
    grid-area: span;
}

.logo {

    font-size: 50px;
    font-weight: bold;
    margin: 20px;
    margin-top: 2%;
    margin-bottom: 0%;
    color: white;
}

.middle {
    display: inline-block;
    
}

.right {
    display: inline-block;
    font-size: larger;
}
/* ----------------------------top-container------------- -----------------------------------------------*/

p.products{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
    width: 30%;
    margin: 0px auto 0px auto;
    padding: 5px 10px;
    border-radius: 8px;
}
h3.pro{
    display: block;
    font-family: 'Montserrat', sans-serif;

    background-color: #E99497;
    color: rgb(54, 54, 54);
    font-size: 20px;
    width: 40%;
    border-radius: 8px ;
    margin: 20px auto 10px auto;
    padding: 5px 10px;
}
p{
    margin: auto;
    width: 50%;
}

li {
    display: inline;
}

a {
    font-size: 25px;
    color: white;
    text-decoration-line: none;
    margin: 3%;
}

a:hover {
    background-color: grey;
}

hr{
    color: grey;
    border-style: dotted;
    border-bottom: none;
    border-width: 3px;
    width: 40%;
}
a:hover{
    color: white;
}
.top-container{
    position: relative;
    background-image: url(l.jpg) ;
    /* background-repeat: repeat-y; */
    margin: 0px;
    background-size: cover;
}

.btn2 {
    position: absolute;
    bottom: 100px;
    left: 50px;
    background: #6a666b;
    background-image: -webkit-linear-gradient(top, #6a666b, #242220);
    background-image: -moz-linear-gradient(top, #6a666b, #242220);
    background-image: -ms-linear-gradient(top, #6a666b, #242220);
    background-image: -o-linear-gradient(top, #6a666b, #242220);
    background-image: linear-gradient(to bottom, #6a666b, #242220);
    -webkit-border-radius: 2;
    -moz-border-radius: 2;
    border-radius: 2px;
    font-family: Arial;
    color: #ffffff;
    font-size: 17px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
  }
  
  .btn2:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
/* -----------------------middle-container------------------- --------------------------------------------------*/
.container{
    background-color: #FFD3B4;
    display: grid;
    grid-template-columns: repeat(3,300px);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 40px;
    grid-column-gap: 30px ;
    justify-content: center;
    padding-bottom: 50px ;
    
}
.item{
    /* background-color: #FFAAA7; */
    /* border: solid 2px black; */
    margin: 10px 3px 3px 3px;

    text-align: center;
    max-height: 100%;
    max-width: 100%;
    border-radius: 40px;

}
.titl{
    margin: 0px auto 10px auto ;
    background-color: #FFD3B4;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    padding-top: 50px ;
    padding-bottom: 5px;
}
.feature{
    width: 5%;
    border-style: dotted;
    margin: 10px auto;
    padding: 0px;
    background-color:#FFD3B4;
    border-width: 5px;
    border-bottom: none;

}
.protitle{
    background-color:#FFD3B4;
}

/* ----------------------middle-container------------------- ------------------------------------------------------*/
.middle-container{
    position : relative;
    margin: 0px;
    padding: 100px auto;
    background-color: #FFD3B4;

}
.images{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    row-gap: 20px ;
    column-gap:20px;}

.frm{
    margin: auto;
}

/* -----------------bottom-container------------------------------------------------------------------------------- */
.bottom-container{
    justify-content: space-between;
    background-color: #D5ECC2;
    position: relative;
    display: inline-grid;
    /* align-items: center; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr ;
    grid-template-rows: 700px;
    grid-column-gap:10px ;

    /* justify-content: center; */
    /* justify-items: center; */

}
.thank{
    position: absolute;
    top: 90%;
    left: 40%;
}
.thanks{
    font-family: 'Merriweather Sans', sans-serif;
    width: 20%;
    line-break: loose;
}
.contact-me{
    padding: 70px auto 10px auto ;
    margin-top: 20px;

}
.about{
    padding: 70px auto 10px auto ;
    margin-top: 20px;

}

/* .about-us{
    padding: 70px auto 10px auto ;
    margin-top: 20px;
} */

.newsletter{

    padding: 70px auto 10px auto ;
    margin-top: 20px;
}
.btn{
    margin: 10px auto;
}
/* --------------------footer---------------------------------------------------------------------------------------- */
.footer{
    background-color:#98DDCA;
    padding-bottom: 10px;
    padding-top: 10px;
}
.instagram{
    margin: 10px 20px;
    
    
}
.facebook{
    margin: 10px 20px;
    
    
}
.twitter{
    margin: 10px 20px;
    
    /* color: rgb(10, 201, 248); */
}
.copyright{
    margin: 20px auto;
}
.btn1 {

    background: #6a666b;
    background-image: -webkit-linear-gradient(top, #6a666b, #242220);
    background-image: -moz-linear-gradient(top, #6a666b, #242220);
    background-image: -ms-linear-gradient(top, #6a666b, #242220);
    background-image: -o-linear-gradient(top, #6a666b, #242220);
    background-image: linear-gradient(to bottom, #6a666b, #242220);
    -webkit-border-radius: 2;
    -moz-border-radius: 2;
    border-radius: 2px;
    font-family: Arial;
    color: #ffffff;
    font-size: 17px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
  }
  
  .btn1:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
  .btn {

    background: #6a666b;
    background-image: -webkit-linear-gradient(top, #6a666b, #242220);
    background-image: -moz-linear-gradient(top, #6a666b, #242220);
    background-image: -ms-linear-gradient(top, #6a666b, #242220);
    background-image: -o-linear-gradient(top, #6a666b, #242220);
    background-image: linear-gradient(to bottom, #6a666b, #242220);
    -webkit-border-radius: 2;
    -moz-border-radius: 2;
    border-radius: 2px;
    font-family: Arial;
    color: #ffffff;
    font-size: 17px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
/* ---------------------------------------------------------------------------------------------------------------------- */

.subtitle{
    font-weight:600;
    display: grid;
    text-align: left;
    position: relative;
    top: 10px;
    width: 40%;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 200px;
    padding-top: 100px;
    font-size: 70px;
    margin: 0px;
    bottom: 100px;
    color: #eca37c;
    
}
.social-media{
    font-size: 30px;
}
